*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}
body{
    background: rgb(233, 233, 233);
    color: black;
    overflow: hidden;
    overflow-y: scroll;
    font-family: Poppins,sans-serif;
    -webkit-overflow-scrolling: hidden;
}