#intro{
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;    
    justify-content: space-between;
}

.bg{
    position: absolute;
    top: -4rem;
    right: 0px;
    z-index: -1;
    object-fit:cover ;
    height: 100vh;
    justify-content: right;
    float: right;
}

.introContent{
    height: 100vh;
    width: 100vh;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.introText{
    font-size: 1.75rem;
    font-weight: 100;
}
.introName{
    color:blue;
}
.hello{
    justify-content: left;
}